.search-input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: auto;
  margin-top: 40px;
  max-width: 560px;
}

.search-input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search-input > input:focus {
  outline-width: 0;
}

.search-input-icon {
  color: grey;
}

.search-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-buttons > button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
}

.search-buttons > button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}

.button-hidden {
  display: none !important;
}
