.search-page-header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search-page-logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

/* overrides styles previously placed */
.search-page-body > .search-input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.search-page-options {
  display: flex;
  align-items: center;
  color: grey;
}

.search-options-left a,
.search-options-right a {
  text-decoration: none;
  color: grey;
}

.search-options-left,
.search-options-right {
  display: flex;
}

.search-options-right {
  margin-left: 80px;
}

.option {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

/* .search-options-left a {
  margin-left: 5px;
} */

.search-page-result {
  margin: 40px 0;
}

.search-result-count {
  font-size: 14px;
  color: #70757a;
}

.search-page-results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.search-title {
  text-decoration: none;
  margin-right: 5px;
}

.search-title:hover {
  text-decoration: underline;
}

.search-result-snippet {
  margin: 10px;
}
.result-image {
  object-fit: contain;
  margin: 10px;
  height: 20px;
  width: 20px;
}
